.top-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo-box {
    padding-top: 1rem;
    text-align: center;
  }
  button {
    border: none;
    outline: none;
    width: 120px;
    height: 70px;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 550;
    &:hover {
      cursor: pointer;
      background-color: rgb(161, 161, 161);
    }
  }
}

.mole-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

h1 {
  margin: 0;
}
