.mole-box {
  width: 25%;
  height: 25%;
  position: relative;
}

.mole-cell {
  margin: 2em;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  border: none;
}

.mole-up {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #6d400a;
  color: white;
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  &:hover {
    background-color: #94580f;
  }
}

.mole-fail {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #472703;
  color: white;

  cursor: not-allowed;
}
